.alert-box {
  margin-top: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--light-orange-color);
  padding: 0.5rem;
  max-width: 30%;  
  display:none;
  align-items: center;
  justify-self: center;
  align-self: center;
  gap: 1rem;
  position: absolute;
  transform: translateY(1rem);
  animation: apparition 200ms ease-in;
}

.alert-box svg {
  font-size: 1.5rem;
  color: var(--orange-color);
}

.alert-box p {
  font-size: 0.6rem;
  width: fit-content;
  height: fit-content;
  text-align: left;
  font-family: var(--font-primary);
  color: hsl(20, 98%, 33%);
}

.alert-box.visible {
  display: flex;
}

.alert-box.block svg, .alert-box.block p {  
    color: hsl(0, 98%, 43%);
}


@keyframes apparition {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
  
}

@media screen and (min-width: 900px) {
  .alert-box{
    max-width: 40%;
  }
  .alert-box svg {
    font-size: 2rem;
    color: var(--orange-color);
  }
  .alert-box p {
    font-size: 1rem;
    
  }
}

@media screen and (min-width: 700px) {
  .alert-box{
    max-width: 40%;
  }
  .alert-box svg {
    font-size: 1.8rem;
    color: var(--orange-color);
  }
  .alert-box p {
    font-size: 0.8rem;
    
  }
}

@media screen and (max-width: 550px) {
  .alert-box{
    max-width: 30%;
  }
  .alert-box svg {
    display: none;
  }
  .alert-box p {
    font-size: 0.5rem;
    
  }
}