@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

:root {
  --light-green-color:#effaf9 ;
  --green-color: #0aada6;
  --orange-color: #fd8144;
  --light-orange-color: #ffe1d2;
  --primary-font: Inter;

}

* {  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  overflow: hidden;
}

/* APP */

.app {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-green-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  
}


/* TITLE */

h1 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}


/* SUB TITLE */

.sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

h2 {
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  color: #636363;
  margin-bottom: 0.5rem;
}

.learn-more {
  cursor: pointer;
  text-decoration: none;
}

.learn-more:hover {
  text-decoration: underline  ;
}




/* COUNTER */

.counter {
  margin-bottom: 1.5rem;
  display: flex;
  width: fit-content;  
  justify-content: space-between;
  width: 50%;
  font-family: Inter;
}

.counter-value {
  font-size: 4rem;
  padding: 0.5rem;
}

.fibonacci-number {
  
  border-radius: 0.5rem;
  text-align: center;
  color: white;
  background-color: #d6ad60;

}





/* PROGRESSION BAR */

.progression-bar {
  margin-bottom: 2rem;
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}


/* UTILITIES */

.utilities {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.utilities button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 300ms;
}

.utilities button:hover:enabled {
  transition: 300ms;
  scale: 1.2;
}

.utilities svg {
  font-size: 4rem;
  color: hsl(0, 0%, 29%);
}

.utilities .undo {
  transform: rotate(90deg);
}

.utilities .undo:disabled {
  opacity: 50%;
  cursor: not-allowed;
}




@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
  .sub-title h2 {
    font-size: 0.8rem;
  }
  .counter, .progression-bar {
    width: 80%;
  }

  .utilities svg {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1000px) {
  .counter, .progression-bar {
    width: 70%;
  }
  .utilities {
    width: 60%;
  }
  
}

/* fd8144
0aada6
#eefcfb */
