.counter-button {
  border-radius: 0.5rem;
  background: #0AADA6;
  border: none;
  cursor: pointer;  
  height: 100%;
  width: 2rem;
  transition: 300ms;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.counter-button:disabled {
  filter: grayscale(1);
  opacity: 70%;
  cursor: not-allowed;
}


.counter-button svg {
  color: var(--light-green-color);
  font-size: 2rem;
  
}
.counter-button path {
  height: 50%;
}




.counter-button.increment:hover:enabled {
  transform: translateX(3px);
  box-shadow: rgba(0, 0, 0, 0.16) -3px 3px 6px, rgba(0, 0, 0, 0.23) -3px 3px 6px;
  transition: 300ms;
}

.counter-button.decrement:hover:enabled {
  transform: translateX(-3px);
  box-shadow: rgba(0, 0, 0, 0.16) 3px 3px 6px, rgba(0, 0, 0, 0.23) 3px 3px 6px;
  transition: 300ms;
}